
@{
    ViewData["Title"] = "Sumitemp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="card mb-3" style="margin-top:57px;">

    <div class="card-header">
        <i class="fa fa-table"></i> @ViewData["Title"] &emsp;
        <button type="button" class="btn btn-success btn-xs align-items-xl-end" onclick="Get()">
            <i class="fa fa-pencil-square"></i>&nbsp;Test&nbsp;&nbsp;
        </button>
    </div>
</div>

<ul id="listado">
</ul>
<input type="text" id="Nombres" />
<span id="Seleccionado"></span>

<script>
    $(document).ready(function () {
        //Get();
    })

    function Get() {
            $.ajax({
                url: '/api/SumitempApi/GetTest',
                method: 'GET',
                data: {},
                traditional: true,
                async: true,
                dataType: 'JSON',
                success: function (response) {
                },
                error: function (jQXHR) {
                },
                complete: function () 
                {

                }
            });
        }

    var listItems = [
        "Diane",
        "Louis",
        "Fernando",
        "Jean",
        "Armando",
        "Fernanda"
    ];

   $('#Nombres').change(function() {
       $('#listado').empty();
        for(var i=0;i<listItems.length;i++)
        {
            $('#listado').append('<li id='+listItems[i]+'>'+listItems[i]+'</li>')
        }
       B(listItems);

   })

    function A() {debugger

        $('#Nombres').autocomplete({
            source:listItems,
            minLength:1,
            select:function(event,ui){
                $('#Seleccionado').text('Seleccionado :' + ui.item.label);
            }
        })
    }

    function B() {debugger

        $('#Nombres').where({
            source:listItems,
            minLength:1,
            select:function(event,ui){
                $('#Seleccionado').text('Seleccionado :' + ui.item.label);
            }
        })
    }

    function C() {debugger
        $('#Nombres').where ({
            source:listItems,
            minLength:1,
            select:function(event,ui){
                $('#Seleccionar').text('Seleccionar :' + ui.item.label);
            }
        })
    }

    function D() {debugger
        $('#Nombres').autocomplete({
            source:listItems,
            minLength:1,
            select:function(event,ui){
                $('#Seleccionar').text('Seleccionado :' + ui.item.label);
            }
        })
    }

    function CrearDescripcionPersonal(nombre, fechaNacimiento, identificacion, genero) 
    {debugger

        if (nombre.length < 2)
            return { descripcionError: "el nombre no puede contener menos de 20 letras" };
        if (nombre.match(/^([a-z])*$/)== null)
        return { descripcionError: "el nombre no puede contener caracteres distintos a letras" };
        if (identificacion.match(/^([0-9])*$/)==null || identificacion.length<10 || identificacion.length>20 ) {
            return { descripcionError: "la identificacion debe contener entre 10 y 20 números" };
        }
        if (genero.match(/^H$|^M$/) == null) {
            return { descripcionError: "el genero debe ser H O M" };
        }
        return {
            nombre: nombre,
            fechaNacimiento: fechaNacimiento,
            identificacion: identificacion,
            //genero: genero.includes("H") ? Genero.Hombre : Genero.Mujer
        }
    }

    function txNombres() {
     if ((event.keyCode != 32) && (event.keyCode < 65) || (event.keyCode > 90) && (event.keyCode < 97) || (event.keyCode > 122))
      event.returnValue = false;
    }
</script>