
@{
    ViewData["Title"] = "Sumitemp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="card mb-3" style="margin-top:57px;">

    <div class="card-header">
        <i class="fa fa-table"></i> @ViewData["Title"] &emsp;
        <button type="button" class="btn btn-success btn-xs align-items-xl-end" onclick="Get()">
            <i class="fa fa-pencil-square"></i>&nbsp;Test&nbsp;&nbsp;
        </button>
    </div>
</div>

<script>
    $(document).ready(function () {
        Get();
    })
    function Get() {
            $.ajax({
                url: '/api/SumitempApi/GetTest',
                method: 'GET',
                data: {},
                traditional: true,
                async: true,
                dataType: 'JSON',
                success: function (response) {
                },
                error: function (jQXHR) {
                },
                complete: function () 
                {

                }
            });
        }
</script>