
@{
    ViewData["Title"] = "Sumitemp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="card mb-3" style="margin-top:57px;">

    <div class="card-header">
        <i class="fa fa-table"></i> @ViewData["Title"] &emsp;
        <button type="button" class="btn btn-success btn-xs align-items-xl-end" onclick="Get()">
            <i class="fa fa-pencil-square"></i>&nbsp;Test&nbsp;&nbsp;
        </button>
    </div>
</div>

<ul id="listado">
</ul>
<input type="text" id="Nombres" />
<span id="Seleccionado"></span>

<script>
    $(document).ready(function () {
        //Get();
    })

    function Get() {
            $.ajax({
                url: '/api/SumitempApi/GetTest',
                method: 'GET',
                data: {},
                traditional: true,
                async: true,
                dataType: 'JSON',
                success: function (response) {
                },
                error: function (jQXHR) {
                },
                complete: function () 
                {

                }
            });
        }

    var listItems = [
        "Diane",
        "Louis",
        "Fernando",
        "Jean",
        "Armando",
        "Fernanda"
    ];

   $('#Nombres').change(function() {
       D(listItems);
   })

    function A() {debugger
        for(var i=0;i<listItems.length;i++)
        {
            $('#listado').append('<li id='+listItems[i]+'>'+listItems[i]+'</li>')
        }
        $('#Nombres').autocomplete({
            source:listItems,
            minLength:1,
            select:function(event,ui){
                $('#Seleccionado').text('Seleccionado : '+ui.item.label)
            }
        })
    }

    function B() {debugger
        for(var i=0;i<listItems.length;i++){
            $('#listado').append('<li id='+listItems[i]+'>'+listItems[i]+'</li>')
        }
        $('#Nombres').where({
            source:listItems,
            minLength:1,
            select:function(event,ui){
                $('#Seleccionado').text('Seleccionado :'+ui.item.label)
            }
        })
    }

    function C() {debugger
        for(var i=0;i<listItems.length;i++){
            $('#listado').append('<li id='+listItems[i]+'>'+listItems[i]+'</li>')
        }
        $('#Nombres').where ({
            source:listItems,
            minLength:1,
            select:function(event,ui){
                $('#Seleccionar').text('Seleccionar :'+ui.item.label)
            }
        })
    }

    function D() {debugger
        for(var i=listItems.length;i>0;i--){
            $('#listado').append('<li id='+ listItems[i]+'>'+ listItems[i]+'</li>')
        }
        $('#Nombres').autocomplete({
            source: listItems,
            minLength:1,
            select:function(event,ui){
            $('#Seleccionar').text('Seleccionado :'+ui.item.label)
            }
        })
    }

</script>